/*Element Selector*/
h1{
    color:red;
}
/*Combination Selector*/
p , li{
    color:green;
}
/*Changing Default behaviors*/
li{
    list-style-type: none;
}
/*Element with class specific combination Selector*/
li.special{
    color:orange;
    font-weight: bold;
}
/*Descendant Combinator*/
li em{
    color: rebeccapurple;
}
/*Adjacent sibling selector*/
h1+p{
    font-size: 200%;
}
/*Descendant combinator*/
p span{
    color:red;
}
/*State based styling*/
a:link{
    color:pink;
}
/*If visited change to green*/
a:visited{
    color:green;
}
/*If hovered remove underline*/
a:hover {
    text-decoration: none;
}

/*Select any <span> that is inside a <p>, which is inside an <articule>*/
/*articule p span {}*/


/*Selects any <p> that comes directly after a <ul>, which comes directly after an <h1>*/
/* h1 + ul + p {} */

/* You can combine multiple select types in your code to*/