
/*Create your test css here*/

p{
    color:red;
}
/*
At its most basic css3 consists of two building blocks

    *Properties: Human-readable identifiers that indicate which stylistic features
                (e.g. font-size , width , background-color ) you want to change.

    *Values: Each specified property is given a value, which indicates how you want to
            change those stylistic features ( e.g. what you want to change: The font , The width ,
            pr the background color to )

*/

/*
*Functions*
    While most values are relatively simple keywords or numeric values , there are some possible values
    Which take the form of a function an Example would be the * calc()* function.
    This allows you to do simple math in your CSS for Example

    More Examples include:
        * transform:rotate(0.8turn)*
*/
.outer{
    border: 5px solid black;
}
.box{
    padding:10px;
    width: calc(90% - 30px);
    background-color: rebeccapurple;
    color:white;
}

/*
@rules
    These are special rules giving CSS special instructions on how to behave.
    Some rules are simple with the rule name and a value.
    For example , to import an additional stylesheet into your main style sheet
    you can use the @import:
    @import 'style2.css

    More example include
    @media

*/


/*
Shorthands
    Some properties like font , background padding border and margin are called shorthand properties -- this is because they allow
    you to set several property values in a single line , saving time and making you code neater in the process.

        In 4-Value shorthands like padding and margin , the va;ues are applied in the order top right bottom left (clockwise from the top)
        There are also other shorthand types , for example 2-value shorthands , which set padding / margin for top/bottom then left/right

        This line does the same as
        padding:10px 15px 15px 5px

        this code
        padding-top:10px;
        padding-right:15px;
        padding-bottom:15px;
        padding-left:5px;

        
*/